<div class="store-dropdown-container">  
  <div class= "inline-form-element more-side-margins">Store: </div>
  <select class="store-chooser-dropdown" multiple="multiple" name="stores[]">
    <% @all_stores.each do |store| %>
    <option value="<%= store.id %>" <%= "selected" if @stores_to_display.include?(store) %> ><%= store.name %></option>
    <% end %>
  </select>
</div>