<div class="time-period-chooser-container">
	<div class = "row">
		<div class = "col-xs-3">
	    	<div class= "inline-form-element-right remove-border">Time Period</div>
	    </div>
	    <div class = "col-xs-4">
			<input type="text" class="inline-date-picker" value="<%= @start_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="time_period_start" >
		</div>
		<div class = "col-xs-1">
			<div class= "inline-form-element remove-border">to</div>
		</div>
		<div class = "col-xs-4">
			<input type="text" class="inline-date-picker" value="<%= @end_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="time_period_end" >
		</div>
	</div>
</div>
	