<div class="time-period-chooser-container">
    <div class= "inline-form-element more-side-margins">Time Period: From </div>
	<input type="text" class="inline-form-element" value="<%= @start_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-start-chooser" name="time_period_start" >
	<div class= "inline-form-element more-side-margins">to</div>
	<input type="text" class="inline-form-element" value="<%= @end_date.strftime("%d-%m-%Y") %>" id="attendance-data-time-period-end-chooser" name="time_period_end" >
</div>
	