<h1 class="center-text"><%= @store.name %></h1>
<h2 class="center-text">Select Your Name</h2>
<% @employees.each do |employee| %>
	<div class="centering-table">
	    <div class="centering-table-cell">
    		<%= form_tag({controller:"dashboard",action:"choose_attendance_description"}, method: "post") do %> 
				<input type="hidden" value="<%= employee.id %>" name="employee" >			
				<%= submit_tag employee.name, :class => "big-button" %>
			<% end %>
	    </div>
	</div>
<% end %>