<h1>Employees</h1>
<table class="list-table">
  <thead>
    <tr>
      <th>Store </th>
      <% if @employee_code_enabled %>
        <th>Employee Code</th>
      <% end %>
      <th>Employee Name</th>
      <% if @employee_designation_enabled %>
        <th>Employee Designation</th>
      <% end %>      
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td> <%= employee.store.name %></td>
        <% if @employee_code_enabled %>
          <td> <%= employee.code %></td>
        <% end %>
        <td> <%= employee.name %></td>
        <% if @employee_designation_enabled %>
          <td> <%= employee.designation %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>