<h1>Employees</h1>
<table class="list-table">
  <thead>
    <tr>
      <th>Store </th>
      <th>Employee Name</th>
      <th>Employee Code</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td> <%= employee.store.name %></td>
        <td> <%= employee.name %></td>
        <td> <%= employee.employee_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add new employee" ,dashboard_create_employee_path,class:'medium-button'%>