<tr id = "store-add-row">		   	
	<td>
		<input type="text" class="form-control" id="store-name" placeholder="Enter Store Name" name="store_data[][name]">
	</td>  	
  <td>
    <input type="text" class="form-control" id="store-email" placeholder="Enter Store Email" name="store_data[][email]">
  </td>   
  <td>
    <input type="text" class="form-control" id="store-phone-number" placeholder="Enter Store Phone Number" name="store_data[][phone_number]">
  </td>
  <td>
    <input type="text" class="form-control" id="store-password" placeholder="Enter Store Password" name="store_data[][password]">
  </td>   
</tr>