<%= form_tag({controller:"pages",action:"create_bulk_stores"}, method: "post",class:"form-inline") do %>
<h2>Add Stores</h2>
<div class = "container left-side">
  <table class="list-table">
    <thead>
        <tr>      
          <th>Store Name</th>   
          <th>Store Email</th>  
          <th>Store Phone Number</th>    
          <th>Store Password</th>    
        </tr>
    </thead>
    <tbody id = 'add-store-table-body'>
      <% 30.times do %>   
        <%= render 'add_store_row' %>
      <% end %>
    </tbody>
  </table>
</div>
<%= submit_tag "Save", :class => "form-submit-button" %>
  <%= submit_tag("Cancel", { :name => 'reset', :id => 'reset_button', :type => "reset", :class => "form-reset-button"}  ) %>
<% end %>