<h1 class="center-text"><span class = "employee-name"><span>, select one:</h1>
<% if @store.in_out_enabled %>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<div class = "attendance-marker-option big-button next-attendance-page-button" data-attendance-marker-value="in">In</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<div class = "attendance-marker-option big-button next-attendance-page-button" data-attendance-marker-value="out">Out</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<% if @store.mid_day_in_out_enabled %>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<div class = "attendance-marker-option big-button next-attendance-page-button" data-attendance-marker-value="mid_day_in">Mid-day In</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<div class = "attendance-marker-option big-button next-attendance-page-button" data-attendance-marker-value="mid_day_out">Mid-day Out</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<% if @store.mid_day_enabled %>
		<div class="centering-table">
			<div class="centering-table-cell">
				<div class = "attendance-marker-option big-button next-attendance-page-button" data-attendance-marker-value="mid_day_present">Mid Day</div>
			</div>
		</div>	
<% end %>
<input type="hidden" name = "photo[description]" value="" id="selected-attendance-marker">