<div class="centering-table">
	<div class="centering-table-cell">
		<h1><span id='employee-name-attendance-marked'></span>, your '<span id='description-attendance-marked'></span>' attendance has been marked at</h1>
		<h1><span id='time-attendance-marked'></span></h1>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<div class="big-button" id="mark-another-attendance-button">Mark Another Attendance</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="centering-table">
			<div class="centering-table-cell">
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"big-button" %>
			</div>
		</div>
	</div>
</div>