<div class = "attendance-page" id= "attendance-page-1">
	<%= render "choose_employee_name" %>
</div>

<div class = "attendance-page" id= "attendance-page-2">
	<%= render "choose_attendance_description" %>
</div>

<div class = "attendance-page" id= "attendance-page-3">
	<%= render "click_photo" %>
</div>

<div class = "attendance-page" id= "attendance-page-4">
	<%= render "marked_message" %>
</div>
